TP4/flow_TP4.json
[{"id":"a622dbe.6f66128","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e5cc743b.82dac8","type":"xN_CSE","z":"","platform":"zwave","URLBase":"http://127.0.0.1:8080/~/mn-zwave/mn-name","user":"admin","password":"admin"},{"id":"51f094e3.57e12c","type":"AE","z":"","appId":"LAMP_1"},{"id":"fba71b72.6d6b48","type":"AE","z":"","appId":"Zw_FIBARO_MOTION_SENSOR_3492810500-3"},{"id":"f45b3ea8.618d9","type":"xN_CSE","z":"","platform":"mn-cse","URLBase":"http://127.0.0.1:8080/~/mn-cse/mn-name","user":"admin","password":"admin"},{"id":"b260962a.87c518","type":"debug","z":"a622dbe.6f66128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":240,"wires":[]},{"id":"265dcaff.0af9d6","type":"NamedSensor","z":"a622dbe.6f66128","name":"TEMPERATURE zwave","platform":"e5cc743b.82dac8","sensor":"fba71b72.6d6b48","container":"TEMPERATURE","cntInstance":"/la","x":320,"y":240,"wires":[["d7ba1850.928098"]]},{"id":"b87ec115.93335","type":"NamedSensor","z":"a622dbe.6f66128","name":"MOTION zwave","platform":"e5cc743b.82dac8","sensor":"fba71b72.6d6b48","container":"MOTION","cntInstance":"/la","x":300,"y":280,"wires":[["41dbc088.e2d5b"]]},{"id":"91fbdcd3.ff26e","type":"inject","z":"a622dbe.6f66128","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":140,"wires":[["265dcaff.0af9d6","b87ec115.93335","5b0c3205.cba93c","fab82140.55bb4"]]},{"id":"d7ba1850.928098","type":"DataExtractor","z":"a622dbe.6f66128","name":"TEMPERATURE","viewtype":"data","viewunid1":"","viewunid2":"","x":580,"y":240,"wires":[["b260962a.87c518"]]},{"id":"41dbc088.e2d5b","type":"DataExtractor","z":"a622dbe.6f66128","name":"MOTION","viewtype":"data","viewunid1":"","viewunid2":"","x":560,"y":280,"wires":[["902bb032.1b4ea"]]},{"id":"902bb032.1b4ea","type":"debug","z":"a622dbe.6f66128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":790,"y":280,"wires":[]},{"id":"5b0c3205.cba93c","type":"NamedSensor","z":"a622dbe.6f66128","name":"ILLUMINANCE zwave","platform":"e5cc743b.82dac8","sensor":"fba71b72.6d6b48","container":"ILLUMINANCE","cntInstance":"/la","x":320,"y":320,"wires":[["467ebc8d.e04484"]]},{"id":"467ebc8d.e04484","type":"DataExtractor","z":"a622dbe.6f66128","name":"ILLUMINANCE","viewtype":"data","viewunid1":"","viewunid2":"","x":580,"y":320,"wires":[["6aac98f1.e5e838","7de4dbf1.fcea24","a99d4a94.b24b68"]]},{"id":"6aac98f1.e5e838","type":"debug","z":"a622dbe.6f66128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":320,"wires":[]},{"id":"fab82140.55bb4","type":"NamedSensor","z":"a622dbe.6f66128","name":"BATTERY zwave","platform":"e5cc743b.82dac8","sensor":"fba71b72.6d6b48","container":"BATTERY","cntInstance":"/la","x":300,"y":360,"wires":[["c728668.8455e98"]]},{"id":"c728668.8455e98","type":"DataExtractor","z":"a622dbe.6f66128","name":"BATTERY","viewtype":"data","viewunid1":"","viewunid2":"","x":560,"y":360,"wires":[["4065016e.1f555"]]},{"id":"4065016e.1f555","type":"debug","z":"a622dbe.6f66128","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":790,"y":360,"wires":[]},{"id":"7ff62472.34cc0c","type":"NamedActuator","z":"a622dbe.6f66128","platform":"f45b3ea8.618d9","name":"set lamp1 on","actuator":"51f094e3.57e12c","command":"on=true&bri=254&sat=254&id=LAMP_1","x":1010,"y":460,"wires":[]},{"id":"84f087ee.047678","type":"NamedActuator","z":"a622dbe.6f66128","platform":"f45b3ea8.618d9","name":"set lamp1 off","actuator":"51f094e3.57e12c","command":"on=false&bri=254&sat=254&id=LAMP_1","x":1010,"y":420,"wires":[]},{"id":"7de4dbf1.fcea24","type":"SimpleCondition","z":"a622dbe.6f66128","operator":">","value_c":"200","inputType":"msg","input":"payload","name":"trigger light off","x":800,"y":420,"wires":[["84f087ee.047678"]]},{"id":"a99d4a94.b24b68","type":"SimpleCondition","z":"a622dbe.6f66128","operator":"<","value_c":"200","inputType":"msg","input":"payload","name":"trigger light on","x":799,"y":460,"wires":[["7ff62472.34cc0c"]]}]